!!!
html
  head
    title Ian Macalinao

    link(href="http://fonts.googleapis.com/css?family=Cutive|Titillium+Web", rel="stylesheet", type="text/css")

    link(href="index.css", rel="stylesheet", type="text/css")
    script(src="index.js", type="text/javascript")
  body
    section#home
      .container
        #intro
          h1 Hi, I'm Ian.
          p I'm a software developer living in Dallas, Texas.
