!!!
html
  head
    title Ian Macalinao

    meta(name="google-site-verification", content="aEZXQ9Sa6ffNUZlsa_5niffn9eSFTty4CqdiVz-OqyA")

    link(href="http://fonts.googleapis.com/css?family=Noticia+Text|Titillium+Web", rel="stylesheet", type="text/css")

    link(href="index.css", rel="stylesheet", type="text/css")
    script(src="index.js", type="text/javascript")
  body
    section#home
      .container
        #intro
          h1 Ian Macalinao
          p.subtitle Minecraft developer, Javascript lover, and student
          p.social
            a(href="http://facebook.com/simplyianm") Facebook
            |  / 
            a(href="http://twitter.com/simplyianm") Twitter
            |  / 
            a(href="http://github.com/simplyianm") Github
            |  / 
            a(href="http://simplyian.com") Blog
