body {
  padding: 0px;
  margin: 0px;
}
a {
  color: #2aa198;
  text-decoration: none;
  border-bottom: 1px dotted;
}
a:hover {
  color: #fdf6e3;
}
body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #fdf6e3;
  color: #657b83;
}
/* header */

.header {
  background-color: #002b36;
  padding-bottom: 40px;
}
h1 {
  font-size: 100px;
  font-weight: bold;
  color: #fdf6e3;
  margin-bottom: 10px;
}
.slogan {
  font-size: 30px;
  color: #eee8d5;
}
/* highlights */

.school {
  color: #b58900;
}
.specialty {
  color: #d33682;
}
.interests {
  color: #859900;
}
.secondary {
  color: #93a1a1;
}
/* style */

h2 {
  font-size: 30px;
  color: #586e75;
}
.container {
  max-width: 960px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
  /* For IE 6/7 */
}
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
  width: 32.2%;
}
.col:first-child {
  margin-left: 0;
}
.full {
  width: 100%;
}
/* Animations */

.delay-half {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.delay-one {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
/* Responsive stuff */

@media only screen and (min-width: 768px) and (max-width: 959px) {
  h1 {
    font-size: 70px;
  }
  .container {
    max-width: 768px;
  }
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 40px;
  }
  .slogan {
    font-size: 20px;
  }
  .container {
    max-width: 480px;
  }
  .col {
    width: 100%;
  }
}
