!!!
html
  head
    title Ian Macalinao

    link(href="http://fonts.googleapis.com/css?family=Noticia+Text|Titillium+Web", rel="stylesheet", type="text/css")

    link(href="index.css", rel="stylesheet", type="text/css")
    script(src="index.js", type="text/javascript")
  body
    section#home
      .container
        #intro
          h1 Ian Macalinao
          p.subtitle Web designer, Minecraft developer, and high school student
          p.social
            a(href="http://facebook.com/simplyianm") Facebook
            |  / 
            a(href="http://twitter.com/simplyianm") Twitter
            |  / 
            a(href="http://github.com/simplyianm") Github
