a {
  color: #2aa198;
  text-decoration: none;
  border-bottom: 1px dotted;
}
a:hover {
  color: #d33682;
}
body {
  font-family: 'Open Sans', Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: #ffffff;
  color: #657b83;
}
/* header */

#header {
  background-color: #073642;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding-bottom: 20px;
}
h1 {
  font-size: 90px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
}
.slogan {
  font-size: 30px;
  color: #eee8d5;
  margin: 0px;
}
#draw {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
}
/* highlights */

.school {
  color: #b58900;
}
.specialty {
  color: #d33682;
}
.interests {
  color: #859900;
}
.secondary {
  color: #93a1a1;
}
/* style */

h2 {
  font-size: 30px;
  color: #586e75;
}
.container {
  max-width: 960px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}
/* Sections */

.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
  /* For IE 6/7 */
}
/* Columns */

.col {
  display: block;
  float: left;
  margin: 1% 0 1% 5%;
}
.col:first-child {
  margin-left: 0;
}
.half {
  width: 47%;
}
.wide {
  width: 35%;
}
.narrow {
  width: 20%;
}
.full {
  width: 100%;
}
/* Animations */

.delay-half {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.delay-one {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
.inlist li {
  display: inline;
  font-size: 20px;
}
.inlist li + li:before {
  /* To anyone reading the CSS, yes I know this isn't a linked list. */
  content: '\2022';
  font-size: 20px;
  padding: 0 5px;
}
#footer {
  text-align: center;
}
/* Responsive stuff */

@media only screen and (min-width: 768px) and (max-width: 959px) {
  h1 {
    font-size: 70px;
  }
  .container {
    max-width: 768px;
  }
  .section {
    padding: 0px 10px;
  }
  #header {
    padding-bottom: 10px;
  }
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 40px;
  }
  .slogan {
    font-size: 20px;
  }
  .section {
    padding: 0px 10px;
  }
  .container {
    width: 100%;
  }
  .col {
    margin: 0px;
    width: 100%;
  }
  .wide {
    width: 100%;
  }
  .narrow {
    width: 100%;
  }
  .full {
    width: 100%;
  }
  #header {
    padding-bottom: 10px;
  }

  .inlist li {
    font-size: inherit;
    display: list-item;
  }
  .inlist li + li:before {
    content: '';
    padding: 0px;
  }
  #footer {
    text-align: left;
  }
}
