body {
  color: #333;
}

.container {
  width: 960px;
  margin: 0px auto;
}

h1, h2 {
  font-family: Montserrat, sans-serif;
}

h1 {
  margin-top: 50px;
  font-size: 3.5rem;
}

p {
  font-size: 1.5rem;
}

ul#social {
  padding-left: 0px;
}

ul#social li {
  display: inline-block;
  font-size: 3rem;
  margin-right: 3rem;
}

a {
  color: #009cb8;
  text-decoration: none;
}

a:hover {
  color: #00a9c7;
  text-decoration: underline;
}

blockquote {
  color: #777;
  border-left: 5px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-style: italic;
}

blockquote p {
  display: inline;
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .container {
    width: 768px;
  }
}

@media only screen and (max-width: 767px) {

  .container {
    width: calc(100% - 40px);
    padding: 0px 20px;
  }

  ul#social li {
    margin-right: 2rem;
  }

}
